# Theory

1.What are data structures, and why are they important?
  - Data structures are special way of managing and storing data so that it can be used efficiently.
  - They allow data to be accessed and modified in a program.

2.Explain the difference between mutable and immutable data types with examples.
  - Mutable:- It can be changed in place without creating a new variable.
  - Example:- List, Dictionary and Set.
  - Immutable:- It cannot be changed after creation.
  - Any modification in same object cannot be done.
  - Example:- Tuple, String

3.What are the main differences between lists and tuples in Python?
  - The main differences between lists and tuples is mutability.
  - List is defined in square brackets and tuple is defined in round brackets.
  - Tuple is faster than list.
  - And it takes less memory than list.

4.Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs using a hash table.
  - Key is unique and mapped to its value.

5.Why might you use a set instead of a list in Python
  - You can use a set instead of a list when you want to avoid duplicate elements.
  - Or you want to improve lookup speed as set uses hashing.

6.What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters.
  - It is enclosed in between single, double or triple quots.
  - Is is different from list in many ways.
  - String is immutable whereas list is mutable.
  - String is sequence of characters whereas list is a sequence of any data type.

7.How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python by immutability.
  - You can not change data in tuple so data remain unchanged.

8.What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs.
  - It provides fast data access using a hashing.
  - It uses a hash function to convert a key into a number or index.
  - This index tells the program where to store the data in memory.
  - Python dictionaries are implemented using hash tables.
  - It use hash function to find index for the key.
  - And tha value is then mapped to the key.

9.Can lists contain different data types in Python?
  - Yes, lists can contain different data types.
  - Python lists are heterogeneous which means that they can store any data types in the same list in order.

10.Explain why strings are immutable in Python.
  - Strings are immutable because in improve program reliability and performance.
  - Strings are used as key in dictionary so it need to be immutable for hashing.

11.What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provides fast look up as they use hashing.
  - Dictionaries allow to map key with value.
  - Key can be of any immtable data type.

12.Describe a scenario where using a tuple would be preferable over a list.
  - Lets say you are maintaining a employees record.
  - Then you can store employee id in a tuple so it can not be changed in future.
  - Tuple is immutable but list is mutable so in this case we will use tuple.

13.How do sets handle duplicate values in Python?
  - Set uses hashing to store its data.
  - So when you enter data it checkes if data is present or not.
  - If data is already present then it will not store it again.
  - This is how set handle duplicate data.

14.How does the “in” keyword work differently for lists and dictionaries?
  - In python "in" keyword is a membership operator.
  - In list it checks if data is present in list by linear search method which is slow.
  - But dictonary use hashing so it use hashing to find it which is done in constant time.

15.Can you modify the elements of a tuple? Explain why or why not.
  - No, you can not modify elements in tuple because it is a immutable data type.
  - If you try to modify it, it will give an error.

16.What is a nested dictionary, and give an example of its use case.
  - A nested dictionary is a dictionary inside another dictionary.
  - Lets say you want to store data of students in a college.
  - You store data in key value pair.
  - And want to store their grades of different subjects.
  - You can make a key in student tuple which will be mapped to a tupple which will store there marks in a tupple with subject as key and marks as value.

17.Describe the time complexity of accessing elements in a dictionary.
  - Time complexity of accessing elements in a dictionary is O(1).
  - Dictonary use hashing to store values.
  - Key is used in hash function.
  - Hashing provides constant time look up.

18.In what situations are lists preferred over dictionaries?
  - When you need to store data in ordered form.
  -When we need index based storage.
  - When key is not avilable for data.
  - When data is need to be stored sequently.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictonary use hashing to store data so they are unordered.
  - Due to this data can not be retrived by index or in order of insertion.
  - Data can only be accessed be its key.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
  - List is an index based data structure.
  - Data can be reteived only by its index.
  - It stores data in a sequence.
  - Whereas Dictonary is a key value pair based data structure.
  - Which mean that data can be reterived by its key.
  - Dictonary use hashing and look up data in constant time.

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Shikhar"
print(name)

Shikhar

In [2]:
# 2.  Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [3]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
# 4.  Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple", "banana", "orange")
print("kiwi" in tuple)

False

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [17]:
#  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Shikhar", "age": 21, "city": "Noida"}
print(dict)

{'name': 'Shikhar', 'age': 21, 'city': 'Noida'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1, 2, 3, 4, 5]
tuple = (1, 2, 3, 4, 5)
dict = {"name": "Shikhar", "age": 21, "city": "Noida"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Shikhar', 'age': 21, 'city': 'Noida'}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
list1 = []
for i in range(5):
    list1.append(random.randint(1, 100))
list1.sort()
print(list1)

[4, 5, 19, 20, 58]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1 = ["apple", "banana", "orange", "mango", "grapes"]
print(list1[3])

mango

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Shikhar", "age": 21}
dict2 = {"city": "Noida", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Shikhar', 'age': 21, 'city': 'Noida', 'country': 'India'}

In [30]:
# 30. Write a code to convert a list of strings into a set.
list1 = ["apple", "banana", "orange", "mango", "grapes"]
set1 = set(list1)
print(set1)

{'banana', 'apple', 'mango', 'grapes', 'orange'}